.env
.DS_Store

blobs/*
screenshots/*
test_shuffles/*
dist/*


old_blobs/*
old_screenshots/*

!dist/.gitkeep
!blobs/.gitkeep
!screenshots/.gitkeep
!test_shuffles/.gitkeep

mongo-init.js
mongo-init.sh

node_modules